.jumbotron {
background-image: url("../image/blue.jpg");
background-size: cover;
height: 100%;
}
h1{
  color: #FFD700;
   text-shadow: 5px 5px 10px black;
    font-weight: 900;
}
body{
  background-color: #DCDCDC;
}

.col-md-3 {
    border: 0.1px solid Orange;
    padding: 20px;
    box-shadow: 5px 10px 18px blue;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: black;
   text-align: center;
}
